.navbar {
    padding: 0;
}

.navbar .navbar-brand {
    padding: 0;
}

img {
    padding:0;
    margin: 0;
}

.clear-filter[filter-color="orange"] {
    background: rgba(44, 44, 44, 1);
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(90deg, rgba(247, 47, 47, 0.2), rgba(224, 23, 3, 0.6));
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(90deg, rgba(247, 44, 44, 0.2), rgba(224, 23, 3, 0.6));
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, rgba(247, 44, 44, 0.2), rgba(224, 23, 3, 0.6));
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(0deg, rgba(44, 44, 44, 0.2), rgba(224, 23, 3, 0.6));
    /* Standard syntax */
  }

.bg-nav {
    background-color: #E66A5F;
  }

hr {
      border-top: 1px solid #E66A5F;
      width: 70%;
}

.zoom {
    transition: all 1s; 
}

.zoom:hover {
    transform: scale(1.1);
}

.left-shift {
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    float: left;
}

.right-padding {
    padding-right: 30px;
}

.color-black {
    color: black;
}

.alert.alert-danger {
    border-radius: .5rem;
    background: rgba(255, 54, 54, 0.2)
}

.copyright-info {
    display: flex;
    justify-content: center;
}

.bold {
    font-weight: bold;
}

.btn-outline-primary {
    border: 1px solid #E66A5F;
    background-color: transparent;
}

.btn-outline-primary:hover {
    border: 1px solid #E66A5F;
    background-color: #E66A5F;
    
}